.wrapper {
  max-width: 1830px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 30px 12px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8fafc;
  border-radius: 20px;
  background-image: url("../../../../public/advantages-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  row-gap: 54px;
  @media (max-width: 1300px) {
    min-height: 812px;
    overflow: hidden;
    border-radius: 0;
    row-gap: 24px;

  }
}

.advantagesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.blockTitle {
  text-align: center;
  color: #fff;
  font-size: 64px;
  letter-spacing: 6%;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;
  
  @media (max-width: 1300px) {
    margin-bottom: 20px;
    column-gap: 16px;
  }
}

.row:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;
  padding: 0 3%;

  @media (max-width: 1300px) {
    padding: 0;
  }
}

.row:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;
  padding: 0;

  @media (max-width: 1300px) {
    padding: 0;
  }
}

.row:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;
  padding: 0 3%;

  @media (max-width: 1300px) {
    padding: 0;
  }
}

.row:nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 64px;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.1);

  @media (max-width: 1700px) {
    width: 18%;
  }

  @media (max-width: 1448px) {
    display: none;
  }
}

@media (max-width: 1700px) {
  .icon {
    width: 50%;
  }
}

.item {
  width: 534px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 2%;
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  border-right: 1.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;

  font-size: 28px;
  font-weight: 500;

  @media (max-width: 1300px) {
    min-height: 112px;
    padding: 30px 2%;
  }
}
