/* src/components/BurgerMenu.module.css */
.burgerButton {
  position: static;
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 8px;
  box-sizing: border-box;
  padding-top: 13px;
  right: 12px;
  top: 8px;
  z-index: 1000;
  cursor: pointer;
}

.transperent {
  background-color: rgba(255, 255, 255, 0.1);
}

.ordinary {
  background-color: #01757c;
}

.burgerBar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 12px 9px 20px 12px;
}

.logo {
  position: absolute;
  left: 12px;
  top: 8px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.05s linear;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.phoneWrapper {
  padding: 16px 0;
  border-top: 1px solid #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 364px) {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }
}

.phoneWrapperInner {
  @media (max-width: 364px) {
    border-top: 1px solid #fff;
    padding-top: 16px;
  }
}

.mail {
  padding: 16px 0;
  display: flex;
  border-top: 1px solid #fff;

  justify-content: flex-start;
}
.menu {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: radial-gradient(circle at 90% 40%, #22b0ae7c 0%, #22b0ae7c 10%, #22b0ae50 20%, transparent 45%),
    linear-gradient(180deg, #196871 0%, #0f1b2e 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.burgerButton {
  display: none;
}

@media (max-width: 1300px) {
  .burgerButton {
    display: block;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
      transition: opacity 0.05s linear;
    }
  }
}

.linksList {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: auto;
}
.linksItem {
  width: 100%;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 700;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.05s linear;
  }
}
