.header {
  max-width: 1830px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px;
}

.commonWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 80px;
}

.navList {
  display: flex;
  list-style: none;
  padding: 24px 36px;
  background-color: #f8fafc;
  border-radius: 80px;
}

.navList li {
  margin-right: 1rem;
}

.link {
  color: #0f1b2e;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.3s linear;
  }
}

.active {
  color: #20a1a2;
}
.button {
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  padding: 24px 36px;
  background-color: var(--green);
  border-radius: 80px;
  width: fit-content;
}

.wrapper {
  max-width: 1830px;

  width: 100%;
  margin: 0 auto;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 20px;
  row-gap: 64px;
  @media (max-width: 1300px) {
    min-height: 812px;
    overflow: hidden;
    border-radius: 0;
    padding: 40px 20px;
    row-gap: 64px;
  }

  @media (max-width:  700px) {
   
    row-gap: 18px;
  }
}

.breadcrumbs {
  color: #20a1a2;
}

.articleTitle {
  font-size: 72px;
  letter-spacing: 6%;
  @media (max-width: 1000px) {
    margin-top: 73px;
    font-size: 28px;
    font-weight: 500;
  }
  position: relative;
  @media (max-width: 720px) {
    &::after {
      content: ' ';
      height: 2px;
      width: 100%;
      background-color: rgba(1, 117, 124, 0.4);
      position: absolute;
      left: 0;
      bottom: -20px;
    }
  }
}

.image {
  border-radius: 12px;
}

.articleBlock {
  padding: 30px 20px;
  height: 546px;
  overflow: hidden;
  @media (max-width: 1000px) {
    height: 225px;
    box-sizing: border-box;
    padding: 0;
  }

  & .image {
    width: 100%;
    object-position: center -300px;
    object-fit: cover;
    @media (max-width: 1000px) {
      object-fit: cover;
      object-position: center;
      height: 225px;
    }
  }
}

.articleBlock::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #20a1a2;
}

.articleBlock::before {
  top: 0;
}

.articleContent {
  display: grid;
  grid-template-columns: 1fr 3fr;

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.route {
  margin-right: auto;

  @media (max-width: 1000px) {
    display: none;
  }
}

@media (max-width: 1300px) {
  .navList {
    display: none;
  }
  .button {
    display: none;
  }
}

.content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  font-size: 20px;
  letter-spacing: 4%;
  font-weight: 400;
  color: #8a969f;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  color: #20a1a2;
  margin-bottom: 24px;
}

.newsGrid {
  display: grid;
  position: relative;
  width: 100%;

  grid-template-columns: repeat(auto-fill, minmax(453px, 1fr));
  gap: 32px;
}

.articleWrapper {
  display: flex;
  flex-direction: column;
  padding: 28px 24px;
  min-height: 573px;
  background-color: #fff;
  border: 1px solid #eaf4f5;
  border-radius: 12px;
}

.title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 500;
}

.tags {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  z-index: 12;
  margin-top: auto;
}

.tag {
  background-color: #20a1a2;
  padding: 12px 20px;
  border-radius: 30px;
}

.tagText {
  color: #fff;
}

.sliderWrapper {
  max-width: 1830px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  position: relative;
  row-gap: 48px;

  @media (max-width: 1300px) {
    overflow: hidden;
    border-radius: 0;
    padding: 40px 20px;
  }

  @media (max-width: 1020px) {
    padding-bottom: 94px;
  }

  @media (max-width:  700px) {
    padding-top: 8px;
    row-gap: 18px;
  }
}

.sliderHeader {
  display: flex;

  @media (max-width: 1300px) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

.sliderRightPart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 24px;
  width: 70%;

  @media (max-width: 1020px) {
    width: 100%;
    text-align: left;
  }
}

.articleText {
  font-size: 20px;
  letter-spacing: 4%;
  font-weight: 400;
  color: #0f1b2e;
  padding-right: 10%;
  & > img {
    border-radius: 12px;
    width: 100%;
    margin: 10px 0;
    @media (max-width: 1020px) {
      height: 467px;
      width: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 1020px) {
    
    padding-right: 0;
  }
}

.contentItem {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  font-size: 20px;
  letter-spacing: 4%;
  font-weight: 400;
  color: #8a969f;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 520px) {
    font-size: 14px;
  }
}

.dateItem {
  color: #20a1a2;
  margin-bottom: 24px;
}

.articleItemWrapper {
  display: flex;
  flex-direction: column;
  padding: 28px 24px;
  min-height: 573px;
  background-color: #fff;
  border: 1px solid #eaf4f5;
  border-radius: 12px;
}

.titleItem {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 500;
  word-wrap: break-word; 
  overflow-wrap: break-word;

  @media (max-width: 520px) {
    font-size: 20px;
  }
}

.tagsItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
  z-index: 12;
  margin-top: auto;
  flex-wrap: wrap;
}

.tagItem {
  background-color: #20a1a2;
  padding: 12px 20px;
  border-radius: 30px;
}

.tagTextItem {
  color: #fff;

  @media (max-width: 520px) {
    font-size: 14px;
  }
}

.sliderHeaderText {
  font-size: 48px;
  letter-spacing: 6%;

  & span {
    color: #01757c;
  }

  @media (max-width: 520px) {
    font-size: 30px;
  }
}

.sliderHeaderSubtitle {
  font-size: 20px;
  color: #8a969f;
  letter-spacing: 6%;
}

.sliderHeaderTitle {
  align-self: flex-start;
  color: #01757c;
  font-size: 20px;
  letter-spacing: 4%;
  opacity: 60%;
  text-transform: uppercase;
  font-weight: 400;
}

.swiperButtonPrev,
.swiperButtonNext {
  color: #000 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: block;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  background-color: #fff;
  border: 1px solid #01757c;
  position: relative;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.05s linear;
  }
  & > svg {
    position: absolute;
    z-index: 100;
    transform: translateY(-50%);
    /* transform: translateX(50%); */
    top: 50%;
    left: 36%;
  }
}

.sliderButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 12px;
  position: absolute;
  right: 0;
  top: 40px;
  transform: translateX(-50%);
  width: 156px;
  @media (max-width: 1020px) {
    bottom: 00px;
    top: auto;
    right: 60px;
    transform: translateX(0%);
  }
}

.swiperContainer {
  position: relative;
  padding: 0 50px;

  @media (max-width: 500px) {
    padding: 0 20px;
  }
}

/* .swiperButtonPrev {
  left: -20px !important;
} */
.swiperButtonNext {
  background-color: #01757c;
}

.sliderCard {
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content: space-between;
  row-gap: 16px;
  min-height: 573px;

  box-sizing: border-box;
  border: 1px solid rgba(1, 117, 124, 0.2);
  border-radius: 16px;

  @media (max-width: 520px) {
    padding: 16px;
    min-height: 297px;
  }
}

.sliderImage {
  margin-top: auto;
}

.slider {
  position: relative;
}

.sliderTitle {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 6%;
}

.sliderText {
  color: #8a969f;
  font-weight: 400;
  font-size: 18px;
}

.content {
  color: #0f1b2e;
  font-size: 20px;
  letter-spacing: 4%;
}
